// Build settings for a debug build

#include "Release.xcconfig"

// Architectures

ONLY_ACTIVE_ARCH = YES

// GCC Code Generation

GCC_OPTIMIZATION_LEVEL = 0

// Deployment

DEPLOYMENT_POSTPROCESSING = NO
STRIP_INSTALLED_PRODUCT = NO
COPY_PHASE_STRIP = NO

// GCC Preprocessing

GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1
