//
//  SOLogger
//

// Architectures

ARCHS = $(ARCHS_STANDARD_32_BIT)
MACOSX_DEPLOYMENT_TARGET[sdk=macos*] = 10.5

// Build Options

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym


// Deployment

INSTALL_PATH = @loader_path/../Frameworks
DEPLOYMENT_POSTPROCESSING = YES
STRIP_INSTALLED_PRODUCT = YES
COPY_PHASE_STRIP = YES

// Linking

OTHER_LDFLAGS = -framework Foundation
PREBINDING = NO
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1

// Search Paths

ALWAYS_SEARCH_USER_PATHS = NO

// Packaging

PRODUCT_NAME = SOLogger
INFOPLIST_FILE = SOLogger-Info.plist
INFOPLIST_PREPROCESS = YES
FRAMEWORK_VERSION = A
COPYING_PRESERVES_HFS_DATA = YES

// GCC Language

GCC_C_LANGUAGE_STANDARD = c99
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = Source/SOLogger_Prefix.pch

// GCC Preprocessing

GCC_PREPROCESSOR_DEFINITIONS = NDEBUG=1

// GCC Code Generation

GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_OPTIMIZATION_LEVEL = s
GCC_ENABLE_OBJC_GC = supported
GCC_ENABLE_FIX_AND_CONTINUE = NO

// GCC Warnings

WARNING_CFLAGS = -Wall
GCC_TREAT_WARNINGS_AS_ERRORS = YES


